{% extends 'base.html' %}

{% block titulo %} Home {% endblock %}

{% block conteudo %}

    <ul>
        <li><a href="/home">Ativsdades 1</a></li>
        <li><a href="/lista">Ativsdades 2</a></li> 
        <li><a href="/perfil">Ativsdades 3</a></li> 
        <li><a href="/ativ9">Ativsdades 4</a></li> 
        <li><a href="/ativ10">Ativsdades 5</a></li> 
        <li><a href="/ativ11">Ativsdades 6</a></li>
    </ul>

{% endblock %}
{% block nav %}
<nav>
    <ul style="display:flex;">
        <li style="margin-left:30px;"><a href="/contato">Ativ 1</a></li>
        <li style="margin-left:30px;"><a href="/sobre">Ativ 2</a></li>
        <li style="margin-left:30px;"><a href="/team">Ativ 3</a></li> 
        <li style="margin-left:30px;"><a href="/info">Ativ 4</a></li> 
        <li style="margin-left:30px;"><a href="/saudacao">Ativ 5</a></li> 
        <li style="margin-left:30px;"><a href="/produtos">Ativ 6</a></li> 
    </ul>
</nav>
{% endblock %}
