{% extends 'base.html' %}

{% block titulo %} Sobre {% endblock %}

{% block conteudo %}    
{% endblock %}

{% block sidebar %}
    <p style='width:60%;margin:0 auto;'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis vel soluta saepe tenetur totam asperiores, quis quidem culpa a debitis dolore suscipit animi odit provident sit vero ab eligendi quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ullam optio accusantium. Corrupti eius dolorem quo sequi est quasi et ipsam explicabo! Quos amet praesentium, fuga accusamus ducimus neque repudiandae?Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur reprehenderit similique reiciendis error delectus voluptate laborum harum, praesentium eum voluptatem eaque eos odit exercitationem, hic rerum nemo. Fugiat, deserunt odio.</p>
    <h2>{{palavra}}</h2>
    <li><a href="/">Voltar</a></li>
{% endblock %}